<div class="card">
    <div class="card-body">
        <div class="card-title">Welcome, {{.Name}}!</div>
        <p>Do know that you login as <b>admin</b> now.</p>
        <button class="btn btn-sm btn-primary" onclick="location.href='/admin/logout'">Logout</button>
    </div>
</div>